@import "../utilidades/mixin";

/*Media query tablet*/

@media (max-width: 1024px) {

    #navbarSupportedContent {
        .collapse.navbar-collapse {
            overflow: visible;
        }
    }

    .navbar-collapse {
        margin: 20px;
        flex-basis: 100%;
        flex-grow: 1;
        align-items: center;
    }

    #navbarSupportedContent {
        .btn {
            width: 100%;
        }
    }

    /*Home*/
    main {
        padding-top: 20px;

        .textos {
            .button {
                margin: 0%;
            }
        }

        .imagen {
            margin-top: 20px;
        }
    }


    .specializing-in {
        .cards-container {
            justify-content: space-around;
            gap: 50px;
            padding: 45px;
            padding-bottom: 80px;

            .card {
                width: 100%;
            }
        }
    }

    .why-me {
        @include flex;
        flex-direction: column;
        margin-top: 10px;

        .imagen2 {
            img {
                max-height: 24vh;
                padding-left: 0px;
            }

        }

    }

    /*About me*/
    body {
        .presentation-video {
            padding: 20px 20px 0px 20px;
            video{
                width: 100%;
                height: auto;
            }
        }
    }

    main {
        .careers {
            .careers-container {
                display: flex;
                align-items: center;
                justify-content: space-around;

                .careers-img {
                    img {
                        width: 100%;
                        height: auto;
                    }
                }
            }

            .careers-container2 {
                display: flex;
                align-items: center;
                justify-content: space-around;
                padding-left: 0%;

                .careers-img {
                    img {
                        width: 100%;
                        height: auto;
                    }
                }

            }
        }
    }

    /*Portfolio*/
    body {
        .info-portfolio {
            p {
                width: 80%;
            }
        }

        .portfolio-info {
            p {
                width: 80%;
            }
        }

        .proyecto, .proyecto2 {
            width: 100%;
            height: auto;
            padding: 10px 10px 10px 10px;

            img {
                width: 100%;
                height: auto;
            }
        }
    }

    /*Schop*/
    main {
        .product-grid {
            .container {
                .row-cols-md-4 * {
                    width: 50%;
                }

                .col-shop {

                    .card-shop {
                        width: 100%;
                        max-width: 350px;
                        margin: 0;

                        img {
                            width: 100%;
                            object-fit: cover;
                        }
                    }

                    .card-body {
                        width: 100%;
                        @include flex;
                        flex-direction: column;

                        .card-title {
                            width: 100%;
                        }

                        .card-text {
                            width: 100%;
                        }

                        .price {
                            width: 100%;
                        }
                    }
                }


            }
        }
    }
}